.button-modify{
    width: 100%;
    height: 70px;
    max-width: 300px;
    border: transparent;
    background: rgb(14, 180, 202);
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.button-modify:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.171);
    background: rgb(20, 203, 228);
}